/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0084FD;
    --l-blue: #B5DDFF;
    --violet: #9792E4;
    --yellow: #FDC15F;
    --black: #333333;
}

img {
    max-width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* Common  */

.flex {
    display: flex;
}

.container {
    width: 90%;
    margin: 0 auto;    
}

.section-padding {
    padding: 50px 0;
}

.bg-violet {
    background-color: var(--violet);
}

/* Header */
header {
    background-color: var(--blue);
}

.header-flex {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 15px 0;
}

header nav {
    display: none;
}

header ul {
    list-style-type: none;
    gap: 1rem;
}

@media screen and (min-width: 992px) {
    header nav {
        display: block;
    }
    
    .h-btn {
        display: none;
    }

    .container {
        width: 60%;
        max-width: 1100px;
        margin: 0 auto;
    }
}

/* Main */

/* Hero */

.hero-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hero-col,
.hero-col-l {
    background-color: var(--l-blue);
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero-col {
        width: calc(100% / 3 - 20px / 3);                       
    }

    .hero-col-l {
        width: calc(100% / 2);
        flex-grow: 1;
    }
}

/* Planning section */

.planning-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.planning-col {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .planning-col {
        width: calc(100% / 2);
    }    
}

/* Testimonials section */

.testimonial-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.testimonial-col {
    width: 100%;
}

/* Benifits section */

.benefits-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.benefits-col {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .benefits-col {
        width: calc(100% / 2 - 10px / 2);
    }
}

@media screen and (min-width: 992px) {
    .benefits-col {
        width: calc(100% / 3 - 20px / 3);
    }
}

/* About us section */

.about-row {
    display: flex;
    flex-wrap: wrap;
}

.about-col-70,
.about-col-30 {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .about-row {
        justify-content: space-between;
    }
    
    .about-col-70 {
        width: 68%;
    }

    .about-col-30 {
        width: 30%;
    }
}

/* CTA section */

.cta-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cta-container {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .cta-container {
        width: 50%;
        margin: 0 auto;
    }
}

/* Footer */

footer {
    background-color: var(--black);
}
